# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex junk files
*.aux
*.bcf
*.log
*.pdf
*.run.xml
*.toc
*.backup
*.nav
*.vrb
*.snm
*.synctex*

# Build and install directories
*build*
*x86_64*

#CMake cache files
*CMakeCache.txt*
*CMakeFiles*

# Autotool crap
*~
Makefile.in
ac*m4
lt*.m4
lib*.m4
autom4te.cache
compile
config.guess
config.sub
configure
config.summary
depcomp
install-sh
ltmain.sh
missing
test-driver
py-compile
*.tar.gz

# Editor junk
*.swp

#automake generated stuff
mho_config.h.in

# eof
