[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable
[submodule "extern/date"]
	path = extern/date
	url = git@github.com:HowardHinnant/date.git
